/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url("../images/cover-image-light.png");
  --accent-color: #ff8dcb;
  --accent-text-color: #353430;
  --logo-color: #ffc2e6;
  --hover-color: rgba(50, 49, 45, 0.4);
  --background-color: #353430;
  --shadow-link-color: #ff8dcb;
  --hidden-status: hidden;
  --section-title-color: #353430;
  --shadow-logo-color: #ff0070;
}

@media (width < 1024px) {
  .theme_light .logo {
    --shadow-logo-color: #ff8dcb;
  }
}

/* Остальные стили */

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("../images/cover-image-light.png");
    --accent-color: #ff8dcb;
    --accent-text-color: #353430;
    --logo-color: #ffc2e6;
    --hover-color: rgba(50, 49, 45, 0.4);
    --background-color: #353430;
    --shadow-link-color: #ff8dcb;
    --hidden-status: hidden;
    --shadow-logo-color: #ff0070;
    --section-title-color: #353430;
  }

  @media (width < 1024px) {
    .header__logo {
      --shadow-logo-color: #ff8dcb;
    }
  }
}