/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --offset: 10px;
  --logo-color: #db00ff;
  --accent-text-color: #f1b2ce;
  --hover-color: rgba(255, 0, 112, 0.4);
  --background-color: #000028;
  --shadow-logo-color: #ff0070;
  --shadow-link-color: #ff0070;
  --section-title-color: #ff0070;
  --hidden-status: visible;
}
